.game-container {
  margin: auto;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  margin-top: 1em;
  // width: 50%;
}
.game-container h1 {
  margin-bottom: 1em;
}
.games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: auto;
  text-align: center;
}
.games-small {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 60%;
}
.game {
  border-radius: 1em;
  width: 10em;
  margin: auto;
  text-align: center;
  padding: 1em;
  background-color: #6699CC;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.game h5 a {
  color: black;
  text-decoration: none;
}
.quick-links {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin: 1em 1em 0em 1em;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .games {
    grid-template-columns: 1fr;
  }
  .games-small {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: auto;
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .games {
    grid-template-columns: 1fr 1fr;
  }
  .games-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    text-align: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .games {
    grid-template-columns: 1fr 1fr;
  }
  .games-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    text-align: center;
  }
  .game-container {
    // width: 90%;
  }
}
