<div class="result-container">
  <%= simple_form_for [@game, @result] do |f| %>
    <%= f.input :guess, :input_html => {:rows => 10} %>
    <%= f.submit %>
  <% end %>
  <%= link_to game_result_path(@game, @result), data: {turbo_method: :delete, turbo_confirm: "Delete?"} do %>
    <p><i class="fa-regular fa-trash-can"></i></p>
  <% end %>
</div>
