<div class="result-container">
  <h1>New <%= @game.name %> Score</h1>
  <%= simple_form_for [@game, @result] do |f| %>
    <%= f.input :guess, :input_html => {:rows => 10} %>
    <%= f.submit %>
  <% end %>
</div>
