<div class="game-container">
  <% unless current_user %>
      <h1>Daily Games Score</h1>
      <p>Keep track of all your daily Wordle-inspired game scores.</p>
      <p>Easily share your scores with friends and groups in one place.</p>
      <p><%= button_to "Start now", new_user_session_path, class: "btn btn-wide", method: :get %></p>
      <p><%= button_to "See games", games_path, class: "btn btn-wide", method: :get %></p>
  <% else %>
    <h1>Daily Games</h1>
    <% if @games.size > 3 %>
      <div class="games">
    <% else %>
      <div class="games-small">
    <% end %>
      <% @games.each do |game| %>
        <div class="game">
          <%# <%= button_to game.name, game_path(game), class: "btn btn-wide", method: :get %>
          <h5><%= link_to game.name, game_path(game) %><h5>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
