<div class="game-container">
  <h1><%= @game.name %></h1>
  <h2><%= link_to "My scores", game_results_path(@game) %></h2>
  <h4><%= link_to "Record score", new_game_result_path(@game) %></h4>
  <p><%= link_to "Play now", @game.url, target: :_blank %></p>


</div>
