.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 0.5em;
  width: 5em;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 0em 0.5em 0em 0.5em;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: black;
  padding: 0.5em;
  width: 5em;
  border-radius: 1em;
  background: #6699CC;
  transition: background 0.3s ease;
  margin: 0em 0.5em 0em 0.5em;
}

.btn-flat:hover {
  background: #becfde;
  color: black;
}
.btn-score {
  color: black;
  padding: 0.5em;
  width: 5em;
  border-radius: 1em;
  background: white;
  transition: background 0.3s ease;
  margin: 0em 0.5em 0em 0.5em;
}

.btn-score:hover {
  background: #becfde;
  color: black;
}
.btn-games {
  color: black;
  padding: 0.5em;
  width: 10em;
  border-radius: 1em;
  background: #6699CC;
  transition: background 0.3s ease;
  margin: auto;
}

.btn-games:hover {
  background: #becfde;
  color: black;
}
.btn-user {
  color: black;
  padding: 0.5em;
  width: 5em;
  border-radius: 1em;
  background: #becfde;
  transition: background 0.3s ease;
  margin: 0em 0.5em 0em 0.5em;
}

.btn-user:hover {
  background: white;
  color: black;
}
.btn-small {
  color: black;
  // padding: 0.5em;
  // width: 2em;
  border-radius: 1em;
  background: white;
  transition: background 0.3s ease;
  margin: 0em 0.3em 0em 0.3em;
  text-align: center;
}

.btn-small:hover {
  color: #becfde;
}



.btn-wide {
  color: black;
  padding: 0.5em;
  width: 10em;
  border-radius: 1em;
  background: #6699CC;
  transition: background 0.3s ease;
  margin: 0em 0.5em 0em 0.5em;
}

.btn-wide:hover {
  background: #becfde;
  color: black;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
