.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-toggler {
  background: #6699CC;
  border: none;
  border-radius: 0.5em;
}
.navbar-brand img {
  width: 40px;
}
.fa-moon {
  color: #6699CC;
}
.fa-sun {
  color: #6699CC;
}
