// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body.light {
  color: black;
  background-color: white;
  .navbar-lewagon {
    background-color: white;
  }
  .nav-link {
    color: black;
  }
}
body.dark {
  color: white;
  background-color: black;
  .navbar-lewagon {
    background-color: black;
  }
  .nav-link {
    color: white;
  }
  .btn-small {
    background: black;
    color: white;
  }
  p {
    color: black;
  }
  .fa-list {
    color: white;
  }
  .fa-play {
    color: white;
  }
  .fa-floppy-disk {
    color: white;
  }
  .result-info {
    background: black;
  }
  .result-info a {
    color: white;
  }
  .fa-pen-to-square {
    color: black;
  }
  .fa-trash-can {
    color: black;
  }
  h2 {
    color: black;
  }
  h3 {
    color: black;
  }
  .statistic {
    background: black;
  }
  .statistic h3 {
    color: white;
  }
  .distribution {
    background: black;
  }
  .follow h4 {
    color: black;
  }
  .friend-score {
    color: black;
  }
  .btn-score {
    background-color: black;
    color: white;
  }
  .game-big h4 {
    color: black;
  }
}
